@page "/counter"
@rendermode InteractiveServer

<PageTitle>Collapsible Demo</PageTitle>

<h3>Collapsible Demo</h3>
<CollapsibleTiles>
    <CollapsibleTile Flex="1 1 auto" Caption="Left tile">Hello,<br />I am the left tile!</CollapsibleTile>
    <CollapsibleTile Flex="1 1 auto" Caption="Right tile">And I am the right tile...</CollapsibleTile>
</CollapsibleTiles>
@code {
}
