@using Tiling
@page "/counter"
@rendermode InteractiveServer

<PageTitle>Collapsible Demo</PageTitle>

<h3>Collapsible Demo</h3>
<TileSet>
    <Tile Flex="0 1 auto" Caption="Filter panel">
        <div style="width: 10em; height: 24em;">
            FILTERS<br />Drop-down filters go here
        </div>
    </Tile>
    <TileColumn Flex="1 1 auto">
        <Tile Flex="1 1 auto" Caption="Map">
            <div style="height: 24em;">The map goes here ...</div>
        </Tile>
        <TileRow Flex="1 1 auto">
            <Tile Flex="1 1 auto" Caption="Left lower panel">And I am the <br />bottom left tile...</Tile>
            <Tile Flex="1 1 auto" Caption="Right lower panel">And I am the <br />bottom right tile...</Tile>
        </TileRow>
    </TileColumn>
</TileSet>
@code {
}
