@page "/"

<PageTitle>Home</PageTitle>

<h1>Collapsible tiles demonstration</h1>

<p>To see the demo click on the Tiles menu item at the left of the page.</p>
<p> A row of check boxes along the top margin allows you to show or hide the various tiles. On one of the tiles,
	a button can be clicked to show how tiles can be hidden (or shown) programmatically.</p>
