@page "/"

<PageTitle>Home</PageTitle>

<h1>Collapsible tiles demonstration</h1>

<p>Welcome to the collapsible tiles demonstration. This application demonstrates
the use of TileSet, TileColumn, TileRow and Tile components for providing
a flex layout of rectangular tiles. Each tile on the page has a corresponding
check-box on the top main menu bar. Unchecking/checking these checkboxes
causes their corresponding tiles to be hidden. The vacated space is filled
based on the flex settings for that tile.
</p>
<p>To see the demo click on the Tile demo menu item at the left of the page.</p>

