<div class="tiles">
    <SectionContent SectionName="TopRow">
        @foreach (Tile tile in Children)
        {
            if (!tile.Visible)
            {
                <button style="margin:0 0.2em 0 0.2em;" 
                        class="btn btn-outline-primary btn-sm"
                        @onclick=@(()=>ShowTile(tile))>
                    @(tile.Caption)
                </button>
            }
        }
    </SectionContent>
    <div class="tilecontent">
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    </div>
</div>
