@using Microsoft.AspNetCore.Components.Sections 
@using Microsoft.AspNetCore.Components.Forms
<div class="tile-set" style=@DisplayStyle>
    <SectionContent SectionName="tile-checkboxes">
        @foreach (Tile tile in Children.Where(t=>t.Selectable))
        {
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <InputCheckbox
                        Value=@(tile.Visible)
                        ValueChanged=@(v => ShowTile(tile.Caption, v))
                        ValueExpression="()=>tile.Visible"/>
                    @tile.Caption
				</label>
            </div>
        }
    </SectionContent>
    <div class="tile-content" style="width:100%;height:100%;">
        <CascadingValue Value="this">
            @ChildContent
        </CascadingValue>
    </div>
</div>
